In [2]:
import pandas as pd

# Leer csv

In [3]:
df = pd.read_csv("cars.csv")
df

      manufacturer_name  model_name  ... feature_9 duration_listed
0                Subaru     Outback  ...      True              16
1                Subaru     Outback  ...      True              83
2                Subaru    Forester  ...      True             151
3                Subaru     Impreza  ...     False              86
4                Subaru      Legacy  ...      True               7
...                 ...         ...  ...       ...             ...
38526          Chrysler         300  ...      True             301
38527          Chrysler  PT Cruiser  ...      True             317
38528          Chrysler         300  ...      True             369
38529          Chrysler  PT Cruiser  ...      True             490
38530          Chrysler     Voyager  ...      True             632

[38531 rows x 30 columns]